/* Base */
html {
    position: relative;
    min-height: 100%;
    text-align: justify;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bad Script', cursive;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ECEFF1;
}

footer p {
    margin: 0;
}



/* Title */
h1 {
    font-size: 75px;
}

h1 a:hover {
    text-decoration: none;
}


/* Misc */
.fa {
    vertical-align: middle;
}
